<body>

<div class="search-container">
  <input type="text" class="search-input" placeholder="Поиск..." #questtitle>
  <button class="search-button"(click)="Search(questtitle.value)">🔍</button>
</div>

<div class="input-group">
  <h3>Категории</h3>
  <div class="input-container">
    <input type="text" class="input-field" placeholder="Введите категорию" #categoryinput>
    <button class="add-button">+</button>
  </div>
  <div class="categories-container">
    @for (cat of categoryq; track cat.id){
      <span class="category" class="toggle-btn"
            [class.active]="catchek[$index]"
            (click)="toggleCheck(cat.id,'cat')">
      {{ catchek[$index] ? '✓ ' + cat.name : cat.name }}
    </span>
    }
  </div>
</div>

<div class="input-group">
  <h3>Теги</h3>
  <div class="input-container">
    <input type="text" class="input-field" placeholder="" #taginput>
    <button class="add-button">+</button>
  </div>
  <div class="tags-container">
    @for (tag of tagsq; track tag.id){
    <span class="tag" class="toggle-btn"
          [class.active]="tagchek[$index]"
          (click)="toggleCheck(tag.id,'tag')">
      {{ tagchek[$index] ? '✓ ' + tag.name : tag.name }}
    </span>
    }
  </div>
</div>

<button class="ask-button" id="askButton" (click)="openModal()">Задать вопрос</button>

<div id="questionModal" class="modal" [class.show]="showModal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Задать новый вопрос</h2>

    <form #questionForm="ngForm" (ngSubmit)="submitQuestion(questionForm)">
      <div class="form-group">
        <label for="questionTitle">Заголовок вопроса</label>
        <input type="text" id="questionTitle" name="title"
               [(ngModel)]="questionData.title"
               [value]="questtitle.value"
               placeholder="Введите заголовок вопроса" required #title>
      </div>
      <div class="form-group">
        <div class="tags-container">
          @for (cat of categoryq; track cat.id){
            @if (catchek[$index]) {
            <span class="tag">
                  {{cat.name}}
            </span>
            }
          }
        </div>
      </div>
      <div class="form-group">
        <div class="tags-container">
          @for (tag of tagsq; track tag.id){
            @if (tagchek[$index]) {
              <span class="tag">
                  {{tag.name}}
              </span>
            }
          }
        </div>
      </div>
      <div class="form-group">
        <label for="questionBody">Основная часть вопроса</label>
        <textarea id="questionBody" name="content"
                  [(ngModel)]="questionData.content"
                  placeholder="Подробно опишите ваш вопрос" required></textarea>
      </div>

      <button type="submit" class="submit-btn" >Опубликовать вопрос</button>
    </form>
  </div>
</div>



<div class="question-list">
  @for (quest of quests; track quest.id) {
    <div class="question-block">
      <div class="question-title">{{quest.title}}</div>
      <div class="question-meta">Категория:
        @for (ctegory of quest.categories; track ctegory) {
        <span class="category">{{ctegory.name}}</span>
      }</div>
      <div class="question-meta">Теги:
        @for (tag of quest.tags; track tag) {
          <span class="tag">{{tag.name}}</span>
        }
      </div>
    </div>
  } @empty {
    <p>Нет доступных вопросов</p>
  }
</div>
</body>
